VITE_API_BASE_URL=https://oo19kmi0ad.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_DOMAIN=https://abricot-tp3-103236573235.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=4vgdvi48qc3f1acl5873grufi7
VITE_COGNITO_REDIRECT_URI=https://oo19kmi0ad.execute-api.us-east-1.amazonaws.com/callback
VITE_COGNITO_SCOPES=openid email profile
VITE_FRONTEND_CALLBACK_URL=http://localhost:5173/auth/callback